[submodule "roll_and_reserve_app"]
	path = roll_and_reserve_app
	url = https://github.com/Jonathan-Llopis/roll_and_reserve_app
[submodule "roll_and_reserve_db"]
	path = roll_and_reserve_db
	url = git@github.com:Jonathan-Llopis/roll_and_reserve_db.git
